.slideshow {
  max-width: 450px;
  position: relative;
  border: 1px solid red;
  display: flex;
}

.slide {
  width: 100%;
  flex: 0 0 100%;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  > img {
    width: 100%;
    display: block;
  }
}
